:root {
    --light: #fff;
    --dark: #000;
    --primary-color: #2d3139;
    --secondary-color: #f5a142;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: 'Fira Sans', sans-serif;
}

body {
    background-color: var(--light);
}

.App {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 15px;
    overflow: hidden;
}

.calculator {
    width: 90%;
    max-width: 350px;
    background-color: var(--primary-color);
    border-radius: 3px;
    padding: 15px;
}

.display {
    padding: 10px;
    text-align: right;
    color: var(--light);
    font-size: 30px;
    font-weight: 200;
    min-height: 15vh;
}

.display span {
    font-size: 15px;
    color: #888;
}

button {
    appearance: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    background-color: inherit;
}

button:hover {
    opacity: 0.9;
    background-color: #f7ebe5;
    color: #888;
    transition: 0.3s;
}

.operators {
    display: flex;
    justify-content: space-evenly;
}

.operators button {
    flex: 1 1 0%;
    font-weight: 900;
    color: var(--secondary-color);
}

.digits {
    display: flex;
    flex-wrap: wrap;
}

.digits button {
    flex: 1 1 33.333%;
    max-width: 33.333%;
}